# generic
PRIVATE_KEY=0x
L1_RPC=
L1_BEACON_RPC=
L2_RPC=
L2_NODE_RPC=
ETHERSCAN_API_KEY=                          # required for verification

# game type
GAME_TYPE=42

# timing conf
DISPUTE_GAME_FINALITY_DELAY_SECONDS=604800  # 1 week
MAX_CHALLENGE_DURATION=604800               # 1 week
MAX_PROVE_DURATION=86400                    # 1 day
FALLBACK_TIMEOUT_FP_SECS=1209600            # 2 weeks

# bond conf
INITIAL_BOND_WEI=1000000000000000           # 0.001 ETH
CHALLENGER_BOND_WEI=1000000000000000        # 0.001 ETH

# access control conf
PERMISSIONLESS_MODE=false
PROPOSER_ADDRESSES=
CHALLENGER_ADDRESSES=

# contract conf
OP_SUCCINCT_MOCK=false                      # true for local devnet
VERIFIER_ADDRESS=0x397A5f7f3dBd538f23DE225B51f532c34448dA9B
OPTIMISM_PORTAL2_ADDRESS=
SUPERCHAIN_CONFIG_ADDRESS=
ANCHOR_STATE_REGISTRY_ADDRESS=
DISPUTE_GAME_FACTORY_ADDRESS=
