[workspace]
members = ["utils/*", "programs/*", "scripts/*", "proposer/succinct"]
resolver = "2"

[workspace.package]
license = "MIT"
edition = "2021"
authors = ["ratankaliani", "zachobront"]
homepage = "https://succinctlabs.github.io/op-succinct/"
repository = "https://github.com/succinctlabs/op-succinct"

[workspace.dependencies]
anyhow = { version = "1.0.86", default-features = false }
cfg-if = "1.0.0"
spin = { version = "0.9.8", features = ["mutex"] }
lru = "0.12.3"
async-trait = "0.1.80"
sha2 = "0.10.8"
tokio = { version = "1.40.0", features = ["full"] }
clap = "4.5.9"
cargo_metadata = "0.18.1"
dotenv = "0.15.0"
num-format = "0.4.4"
futures = "0.3.30"
serde_cbor = "0.11.2"
log = "0.4.22"
itertools = "0.13.0"
reqwest = { version = "0.12", features = ["json"] }
csv = "1.3.0"
serde = { version = "1.0.198", features = ["derive"] }
serde_json = { version = "1.0.117", default-features = false }
rkyv = "0.7.44"
hex = "0.4.3"
bincode = "1.3.3"
base64 = "0.22.1"
tower-http = { version = "0.5.2", features = ["limit"] }
kzg-rs = { version = "0.2.2" }

# program tracing
tracing = { version = "0.1.40", default-features = false }
tracing-subscriber = { version = "0.3.18", features = ["fmt"] }

# kona
# Note: Switch to latest version of kona once the std::process::Command issue is resolved.
kona-common = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona" }
kona-common-proc = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona" }
kona-preimage = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona", features = [
    "rkyv",
] }
kona-primitives = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona" }
kona-mpt = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona" }
kona-derive = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona", default-features = false }
kona-executor = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona" }
kona-client = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona" }
kona-host = { git = "https://github.com/moongate-forks/kona", branch = "patch-10-17-kona" }
# kona-common = { path = "../kona/crates/common" }
# kona-common-proc = { path = "../kona/crates/common-proc" }
# kona-preimage = { path = "../kona/crates/preimage", features = [
#     "rkyv",
# ] }
# kona-primitives = { path = "../kona/crates/primitives" }
# kona-mpt = { path = "../kona/crates/mpt" }
# kona-derive = { path = "../kona/crates/derive", default-features = false }
# kona-executor = { path = "../kona/crates/executor" }
# kona-client = { path = "../kona/bin/client" }
# kona-host = { path = "../kona/bin/host" }

# op-succinct
op-succinct-prove = { path = "scripts/prove" }
op-succinct-witnessgen = { path = "scripts/witnessgen" }
op-succinct-client-utils = { path = "utils/client" }
op-succinct-host-utils = { path = "utils/host" }
op-succinct-build-utils = { path = "utils/build" }
op-succinct-proposer = { path = "proposer/succinct" }

# Alloy
alloy = { version = "0.4.2", default-features = false, features = ["full"] }
# Uses sha3 instead of tiny-keccak. Reduces cycle count for Keccak by 50%.
alloy-primitives = { version = "0.8.4", default-features = false, features = [
    "sha3-keccak",
] }
alloy-rlp = { version = "0.3.8", default-features = false }
alloy-eips = { version = "0.4.2", default-features = false }
revm = { version = "14.0", default-features = false, features = ["kzg-rs"] }
alloy-consensus = { version = "0.4.2", default-features = false }
alloy-sol-types = { version = "0.8" }

# OP Alloy
op-alloy-consensus = { version = "0.4.0", default-features = false }
op-alloy-genesis = { version = "0.4.0", default-features = false, features = [
    "serde",
] }
op-alloy-protocol = { version = "0.4.0", default-features = false }
op-alloy-rpc-types = { version = "0.4.0", default-features = false }
op-alloy-rpc-types-engine = { version = "0.4.0", default-features = false }
op-alloy-network = { version = "0.4.0", default-features = false }

# sp1
sp1-lib = { version = "3.0.0", features = ["verify"] }
sp1-zkvm = { version = "3.0.0", features = ["verify"] }
sp1-sdk = { git = "https://github.com/succinctlabs/sp1", branch = "dev" }
sp1-build = { version = "3.0.0" }

[profile.release-client-lto]
inherits = "release"
panic = "abort"
codegen-units = 1
lto = "fat"

[patch.crates-io]
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", branch = "patch-v2.0.2" }
sha2 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.8" }
ecdsa = { git = "https://github.com/sp1-patches/signatures", branch = "patch-ecdsa-v0.16.8" }
bn = { git = "https://github.com/0xWOLAND/bn.git", package = "substrate-bn" }
sha3 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha3", branch = "patch-sha3-v0.10.8" }
