[workspace]
members = ["utils/*", "programs/*", "scripts/*", "proposer/succinct"]
resolver = "2"

[workspace.package]
license = "MIT"
edition = "2021"
authors = ["ratankaliani", "zachobront"]
homepage = "https://succinctlabs.github.io/op-succinct/"
repository = "https://github.com/succinctlabs/op-succinct"

[workspace.dependencies]
anyhow = { version = "1.0.86", default-features = false }
thiserror = { version = "2.0.3" }
cfg-if = "1.0.0"
spin = { version = "0.9.8", features = ["mutex"] }
lru = "0.12.3"
async-trait = "0.1.80"
sha2 = "0.10.8"
tokio = { version = "1.40.0", features = ["full"] }
clap = "4.5.9"
cargo_metadata = "0.18.1"
dotenv = "0.15.0"
num-format = "0.4.4"
futures = "0.3.30"
serde_cbor = "0.11.2"
log = "0.4.22"
itertools = "0.13.0"
reqwest = { version = "0.12", features = ["json"] }
csv = "1.3.0"
serde = { version = "1.0.213", features = ["derive"] }
serde_json = { version = "1.0.132", default-features = false }
rkyv = {version = "0.7"}
hex = "0.4.3"
bincode = "1.3.3"
base64 = "0.22.1"
tower-http = { version = "0.5.2", features = ["limit"] }
kzg-rs = { version = "0.2.2" }

# program tracing
tracing = { version = "0.1.40", default-features = false }
tracing-subscriber = { version = "0.3.18", features = ["fmt"] }

# kona
# Note: Switch to latest version of kona once the std::process::Command issue is resolved.
# Branch: patch-kona-proof-v0.1.0
kona-common = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
kona-common-proc = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
kona-preimage = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt", features = [
    "rkyv",
] }
kona-mpt = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
kona-driver = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
kona-derive = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt", default-features = false }
kona-executor = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
kona-client = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
kona-host = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
kona-proof = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }
eigen-da = { git = "https://github.com/mantle-xyz/kona", branch = "mantle-kona-mpt" }

# op-succinct
op-succinct-prove = { path = "scripts/prove" }
op-succinct-witnessgen = { path = "scripts/witnessgen" }
op-succinct-client-utils = { path = "utils/client" }
op-succinct-host-utils = { path = "utils/host" }
op-succinct-build-utils = { path = "utils/build" }
op-succinct-proposer = { path = "proposer/succinct" }

# Alloy
alloy = { version = "0.6.4", default-features = false, features = ["full"] }
# Uses sha3 instead of tiny-keccak. Reduces cycle count for Keccak by 50%.
alloy-primitives = { version = "0.8.15", default-features = false, features = [
    "sha3-keccak",
] }
alloy-rlp = { version = "0.3.8", default-features = false }
alloy-eips = { version = "0.6.4", default-features = false }
revm = { git = "https://github.com/mantle-xyz/revm", branch = "kona", default-features = false, features = [
    "kzg-rs",
] }
alloy-consensus = { version = "0.6.4", default-features = false }
alloy-sol-types = { version = "0.8" }

# OP Alloy
op-alloy-consensus = { git = "https://github.com/mantle-xyz/op-alloy", branch = "mantle-alloy-0.6.4-fix", default-features = false }
op-alloy-genesis = { git = "https://github.com/mantle-xyz/op-alloy", branch = "mantle-alloy-0.6.4-fix", default-features = false, features = [
    "serde",
] }

op-alloy-protocol = { git = "https://github.com/mantle-xyz/op-alloy", branch = "mantle-alloy-0.6.4-fix", default-features = false }
op-alloy-rpc-types = { git = "https://github.com/mantle-xyz/op-alloy", branch = "mantle-alloy-0.6.4-fix", default-features = false }
op-alloy-rpc-types-engine = { git = "https://github.com/mantle-xyz/op-alloy", branch = "mantle-alloy-0.6.4-fix", default-features = false }
op-alloy-network = { git = "https://github.com/mantle-xyz/op-alloy", branch = "mantle-alloy-0.6.4-fix", default-features = false }

# sp1
sp1-lib = { version = "3.4.0", features = ["verify"] }
# Note: This rev includes the SP1 mock groth16 bytes fix, skipping deferred verification, executor opts and network-v2 changes.
# ratan/v3.4.0-with-additions includes the network-v2 changes from `19ae3e1`. Has the latest FD's for ECDSA patch.
sp1-sdk = { git = "https://github.com/succinctlabs/sp1.git", rev = "f0b61cf262388c1be7edfcf984c8e070064e980f", features = [
    "network-v2",
] }
# From branch ratan/alloc. Adds support for a custom allocator.
sp1-zkvm = { git = "https://github.com/succinctlabs/sp1.git", rev = "16431e6b979a617fa08994ccdaf866b22ba4b7a1", features = ["verify"] }
sp1-build = { version = "3.4.0" }

[profile.release-client-lto]
inherits = "release"
panic = "abort"
codegen-units = 1
lto = "fat"

[patch.crates-io]
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", tag = "tiny_keccak-v2.0.2-patch-v1" }
sha2 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", tag = "sha2-v0.10.8-patch-v1" }
ecdsa = { git = "https://github.com/sp1-patches/signatures", tag = "ecdsa-v0.16.9-patch-v3.3.0" }
substrate-bn = { git = "https://github.com/sp1-patches/bn", tag = "substrate_bn-v0.6.0-patch-v2" }
sha3 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha3", tag = "sha3-v0.10.8-patch-v1" }

# Note: Renamed this package to sp1_bls12_381 because it was published with that crate name to kzg_rs.
sp1_bls12_381 = { git = "https://github.com/sp1-patches/bls12_381.git", branch = "ratan/rename-package" }
