[workspace]
members = ["utils/*", "programs/*", "scripts/*", "proposer/succinct"]
resolver = "2"

[workspace.package]
license = "MIT"
edition = "2021"
authors = ["ratankaliani", "zachobront"]
homepage = "https://succinctlabs.github.io/op-succinct/"
repository = "https://github.com/succinctlabs/op-succinct"

[workspace.dependencies]
anyhow = { version = "1.0.86", default-features = false }
thiserror = { version = "2.0.3" }
cfg-if = "1.0.0"
spin = { version = "0.9.8" }
lru = "0.12.3"
async-trait = "0.1.80"
sha2 = "0.10.8"
tokio = { version = "1.40.0", features = ["full"] }
clap = "4.5.9"
cargo_metadata = "0.18.1"
dotenv = "0.15.0"
num-format = "0.4.4"
futures = "0.3.30"
serde_cbor = "0.11.2"
log = "0.4.22"
itertools = "0.13.0"
reqwest = { version = "0.12", features = ["json"] }
csv = "1.3.0"
serde = { version = "1.0.198", features = ["derive"] }
serde_json = { version = "1.0.117", default-features = false }
rkyv = { version = "0.8", features = ["hashbrown-0_15", "std"] }
hex = "0.4.3"
bincode = "1.3.3"
base64 = "0.22.1"
tower-http = { version = "0.5.2", features = ["limit"] }
kzg-rs = { version = "0.2.2" }

# program tracing
tracing = { version = "0.1.40", default-features = false }
tracing-subscriber = { version = "0.3.18", features = ["fmt"] }

# kona
# Switch back to main `kona` once the SingleChainHostCli is merged. https://github.com/op-rs/kona/issues/982
kona-mpt = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b" }
kona-derive = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b", default-features = false }
kona-driver = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b" }
kona-preimage = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b", features = [
    "rkyv",
    "serde",
] }
kona-executor = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b" }
kona-proof = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b" }

kona-client = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b" }
kona-host = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b" }
kona-providers-alloy = { git = "https://github.com/succinctlabs/kona", rev = "b91da21b" }


# op-succinct
op-succinct-prove = { path = "scripts/prove" }
op-succinct-client-utils = { path = "utils/client" }
op-succinct-host-utils = { path = "utils/host" }
op-succinct-build-utils = { path = "utils/build" }
op-succinct-proposer = { path = "proposer/succinct" }

# Alloy (Network)
alloy-signer-local = { version = "0.11.0", default-features = false }
alloy-provider = { version = "0.11.0", default-features = false }
alloy-transport = { version = "0.11.0", default-features = false }
alloy-transport-http = { version = "0.11.0", default-features = false }
alloy-contract = { version = "0.11.0", default-features = false }

# Alloy
alloy-rlp = { version = "0.3.10", default-features = false }
alloy-trie = { version = "0.7.8", default-features = false }
alloy-eips = { version = "0.11.0", default-features = false }
alloy-serde = { version = "0.11.0", default-features = false }
alloy-consensus = { version = "0.11.0", default-features = false }
alloy-rpc-types = { version = "0.11.0", default-features = false }
alloy-rpc-client = { version = "0.11.0", default-features = false }
alloy-node-bindings = { version = "0.11.0", default-features = false }
alloy-rpc-types-engine = { version = "0.11.0", default-features = false }
alloy-rpc-types-beacon = { version = "0.11.0", default-features = false }

# Keccak with the SHA3 patch is more efficient than the default Keccak.
alloy-primitives = { version = "0.8.19", default-features = false, features = ["sha3-keccak"] }
alloy-sol-types = { version = "0.8.19", default-features = false }

# OP Alloy
op-alloy-consensus = { version = "0.10.0", default-features = false }
op-alloy-rpc-types = { version = "0.10.0", default-features = false }
op-alloy-rpc-types-engine = { version = "0.10.0", default-features = false }
op-alloy-network = { version = "0.10.0", default-features = false }

# Maili
maili-consensus = { version = "0.1.6", default-features = false }
maili-rpc = { version = "0.2.0", default-features = false, features = ["serde"] }
maili-protocol = { version = "0.2.0", default-features = false }
maili-registry = { version = "0.2.0", default-features = false }
maili-genesis = { version = "0.2.0", default-features = false }

# Revm
revm = { version = "19.4.0", default-features = false, features = ["kzg-rs"] }


# sp1
sp1-lib = { version = "4.0.0", features = ["verify"] }
# sp1-sdk = { version = "4.0.0" }
# TODO: Switch back to version tag once the alloy bump is merged
sp1-sdk = { git = "https://github.com/succinctlabs/sp1", branch = "dev" }
sp1-zkvm = { version = "4.0.0", features = ["verify", "embedded"] }
# TODO: Switch back to version tag once the Docker workspace directory change is merged.
sp1-build = { git = "https://github.com/succinctlabs/sp1", branch = "dev" }

rand = { version = "0.8.5", default-features = false }

[profile.release-client-lto]
inherits = "release"
panic = "abort"
codegen-units = 1
lto = "fat"

[patch.crates-io]
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", tag = "patch-2.0.2-sp1-4.0.0" }
sha2 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", tag = "patch-sha2-0.10.8-sp1-4.0.0" }
ecdsa = { git = "https://github.com/sp1-patches/signatures", tag = "patch-0.16.9-sp1-4.0.0" }
substrate-bn = { git = "https://github.com/sp1-patches/bn", tag = "patch-0.6.0-sp1-4.0.0" }
sha3 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha3", tag = "patch-sha3-0.10.8-sp1-4.0.0" }
