services:
  # OP Succinct Server
  op-succinct-server-bob-testnet:
    build:
      context: .
      dockerfile: ./proposer/succinct/Dockerfile
    env_file:
      - ${ENV_FILE:-.env.bobtestnet}
    restart: unless-stopped
    ports:
      - "3001:3001"

  # OP Succinct Proposer
  op-succinct-proposer-bob-testnet:
    build:
      context: .
      dockerfile: ./proposer/op/Dockerfile.op_proposer
    env_file:
      - ${ENV_FILE:-.env.bobtestnet}
    restart: unless-stopped
    depends_on:
      - op-succinct-server-bob-testnet
    volumes:
      - ./db:/usr/local/bin/dbdata
    # The metrics port is the default port for the OP Proposer.
    ports:
      - "7301:7301"
  # OP Succinct Server
  op-succinct-server-conduit-10s:
    build:
      context: .
      dockerfile: ./proposer/succinct/Dockerfile
    env_file:
      - ${ENV_FILE:-.env.conduit10s}
    restart: unless-stopped
    ports:
      - "3005:3005"

  # OP Succinct Proposer
  op-succinct-proposer-conduit-10s:
    build:
      context: .
      dockerfile: ./proposer/op/Dockerfile.op_proposer
    env_file:
      - ${ENV_FILE:-.env.conduit10s}
    restart: unless-stopped
    depends_on:
      - op-succinct-server-conduit-10s
    volumes:
      - ./db:/usr/local/bin/dbdata
    # The metrics port is the default port for the OP Proposer.
    ports:
      - "7305:7305"