services:
  # OP Succinct Server
  op-succinct-server:
    build:
      context: .
      dockerfile: ./proposer/succinct/Dockerfile
    env_file:
      - ${ENV_FILE:-.env}
    restart: unless-stopped
    ports:
      - "3004:3004"

  # OP Succinct Proposer
  op-succinct-proposer:
    build:
      context: .
      dockerfile: ./proposer/op/Dockerfile.op_proposer
    env_file:
      - ${ENV_FILE:-.env}
    restart: unless-stopped
    depends_on:
      - op-succinct-server
    volumes:
      - ./db:/usr/local/bin/dbdata
