[package]
name = "op-succinct-scripts"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true

[lib]
name = "op_succinct_scripts"
path = "src/lib.rs"

[[bin]]
name = "fetch-and-save-proof"
path = "bin/fetch_and_save_proof.rs"

[[bin]]
name = "config"
path = "bin/config.rs"

[[bin]]
name = "cost-estimator"
path = "bin/cost_estimator.rs"

[[bin]]
name = "block-data"
path = "bin/block_data.rs"

[[bin]]
name = "fetch-l2oo-config"
path = "bin/fetch_l2oo_config.rs"

[[bin]]
name = "fetch-fault-dispute-game-config"
path = "bin/fetch_fault_dispute_game_config.rs"

[[bin]]
name = "gen-sp1-test-artifacts"
path = "bin/gen_sp1_test_artifacts.rs"

[dependencies]

# workspace
alloy-primitives.workspace = true
alloy-sol-types.workspace = true
alloy-signer-local.workspace = true
alloy-eips.workspace = true
bincode.workspace = true
tokio.workspace = true
clap.workspace = true
cargo_metadata.workspace = true
anyhow.workspace = true
dotenv.workspace = true
log.workspace = true
csv.workspace = true
serde.workspace = true
futures.workspace = true
rayon = "1.10.0"
serde_json.workspace = true

# local
op-succinct-host-utils.workspace = true
op-succinct-client-utils.workspace = true
op-succinct-proof-utils.workspace = true
op-succinct-elfs.workspace = true
op-succinct-fp.workspace = true

# sp1
sp1-sdk.workspace = true

rustls = "0.23.23"

[build-dependencies]
op-succinct-build-utils.workspace = true

[features]
default = ["ethereum"]
celestia = ["op-succinct-proof-utils/celestia"]
ethereum = ["op-succinct-proof-utils/ethereum"]
