PROPOSER_PK=
L1_RPC_URL=
L2_NODE_URL=
DISPUTE_FACTORY_ADDRESS=
# PROPOSAL_INTERVAL should be different from the L2 block number diff between challenged game and its parent to differentiate the game UUID
PROPOSAL_INTERVAL=
CHALLENGED_GAME_INDEX=