[package]
name = "op-succinct-prove"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true

[[bin]]
name = "single"
path = "bin/single.rs"

[[bin]]
name = "multi"
path = "bin/multi.rs"

[[bin]]
name = "agg"
path = "bin/agg.rs"

[dependencies]

# workspace
tokio = { workspace = true }
clap = { workspace = true }
cargo_metadata = { workspace = true }

# kona
kona-host = { workspace = true }

# local
op-succinct-host-utils.workspace = true
op-succinct-client-utils.workspace = true
op-succinct-proposer.workspace = true

# sp1
sp1-sdk = { workspace = true }
anyhow.workspace = true
dotenv.workspace = true
num-format.workspace = true
revm.workspace = true
log.workspace = true
csv.workspace = true


[build-dependencies]
sp1-build = { workspace = true }
op-succinct-host-utils = { workspace = true }
cargo_metadata = { workspace = true }
