[package]
name = "op-succinct-fp"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true

[lib]
name = "fault_proof"
path = "src/lib.rs"

[[bin]]
name = "proposer"
path = "bin/proposer.rs"

[[bin]]
name = "challenger"
path = "bin/challenger.rs"

[dependencies]
# local
<<<<<<< HEAD
op-succinct-client-utils.workspace = true
op-succinct-elfs.workspace = true
op-succinct-host-utils.workspace = true
op-succinct-proof-utils.workspace = true
op-succinct-signer-utils.workspace = true
sp1-sdk.workspace = true
alloy-contract.workspace = true
alloy-eips.workspace = true
alloy-network.workspace = true
alloy-primitives.workspace = true
alloy-rpc-types-eth.workspace = true
alloy-rpc-types-trace.workspace = true
alloy-sol-macro.workspace = true
alloy-sol-types.workspace = true
op-alloy-network.workspace = true
op-alloy-rpc-types.workspace = true
celo-alloy-network.workspace = true
celo-alloy-rpc-types.workspace = true
anyhow.workspace = true
async-trait.workspace = true
dotenv.workspace = true
serde.workspace = true
tokio.workspace = true
tracing.workspace = true
hex.workspace = true
strum_macros.workspace = true
||||||| ae1b78c
op-succinct-client-utils.workspace = true
op-succinct-elfs.workspace = true
op-succinct-host-utils.workspace = true
op-succinct-proof-utils.workspace = true
op-succinct-signer-utils.workspace = true
sp1-sdk.workspace = true
alloy-contract.workspace = true
alloy-eips.workspace = true
alloy-primitives.workspace = true
alloy-rpc-types-eth.workspace = true
alloy-sol-macro.workspace = true
alloy-sol-types.workspace = true
op-alloy-network.workspace = true
op-alloy-rpc-types.workspace = true
anyhow.workspace = true
async-trait.workspace = true
dotenv.workspace = true
futures.workspace = true
tokio.workspace = true
tracing.workspace = true
hex.workspace = true
strum_macros.workspace = true
=======
op-succinct-client-utils.workspace = true
op-succinct-elfs.workspace = true
op-succinct-host-utils.workspace = true
op-succinct-proof-utils.workspace = true
op-succinct-signer-utils.workspace = true
sp1-sdk.workspace = true
alloy-contract.workspace = true
alloy-eips.workspace = true
alloy-network.workspace = true
alloy-primitives.workspace = true
alloy-rpc-types-eth.workspace = true
alloy-sol-macro.workspace = true
alloy-sol-types.workspace = true
op-alloy-network.workspace = true
op-alloy-rpc-types.workspace = true
anyhow.workspace = true
async-trait.workspace = true
dotenv.workspace = true
serde.workspace = true
tokio.workspace = true
tracing.workspace = true
hex.workspace = true
strum_macros.workspace = true
>>>>>>> upstream/main

# sp1

# alloy
alloy-provider = { workspace = true, features = ["reqwest"] }
alloy-transport-http = { workspace = true, features = [
    "reqwest",
    "reqwest-native-tls",
] }

# op-alloy

# celo-alloy

# general
clap = { workspace = true, features = ["derive"] }
rand = "0.9"
tracing-subscriber = { workspace = true, features = ["env-filter"] }
strum = { workspace = true, features = ["derive"] }
tikv-jemallocator = "0.6.0"
rustls = "0.23.23"

[dev-dependencies]
<<<<<<< HEAD
alloy-signer-local.workspace = true
alloy-node-bindings.workspace = true
alloy.workspace = true
op-succinct-bindings.workspace = true
serde_json.workspace = true
serde.workspace = true
||||||| ae1b78c
alloy-signer-local.workspace = true
=======
alloy-signer-local.workspace = true
alloy-node-bindings.workspace = true
alloy.workspace = true
op-succinct-bindings.workspace = true
serde_json.workspace = true
serde.workspace = true
alloy-rpc-types-trace.workspace = true
>>>>>>> upstream/main
lazy_static = "1.5"
alloy-rpc-types-trace = "0.15.11"
which = "4.4"

[features]
default = ["ethereum"]
celestia = ["op-succinct-proof-utils/celestia"]
eigenda = ["op-succinct-proof-utils/eigenda"]
ethereum = ["op-succinct-proof-utils/ethereum"]
