[package]
name = "op-succinct-fp"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true

[lib]
name = "fault_proof"
path = "src/lib.rs"

[[bin]]
name = "proposer"
path = "bin/proposer.rs"

[[bin]]
name = "challenger"
path = "bin/challenger.rs"

[dependencies]
# local
op-succinct-client-utils.workspace = true
op-succinct-elfs.workspace = true
op-succinct-host-utils.workspace = true
op-succinct-proof-utils.workspace = true
op-succinct-signer-utils.workspace = true

# sp1
sp1-sdk.workspace = true

# alloy
alloy-contract.workspace = true
alloy-eips.workspace = true
alloy-primitives.workspace = true
alloy-provider = { workspace = true, features = ["reqwest"] }
alloy-rpc-types-eth.workspace = true
alloy-sol-macro.workspace = true
alloy-sol-types.workspace = true
alloy-transport-http = { workspace = true, features = ["reqwest", "reqwest-native-tls"] }

# op-alloy
op-alloy-network.workspace = true
op-alloy-rpc-types.workspace = true

# celo-alloy
celo-alloy-network.workspace = true
celo-alloy-rpc-types.workspace = true

# general
anyhow.workspace = true
async-trait.workspace = true
clap = { workspace = true, features = ["derive"] }
dotenv.workspace = true
futures.workspace = true
rand = "0.9"
tokio.workspace = true
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing.workspace = true
hex.workspace = true
strum = { workspace = true, features = ["derive"] }
strum_macros.workspace = true

[dev-dependencies]
alloy-signer-local.workspace = true

[features]
default = ["ethereum"]
celestia = ["op-succinct-proof-utils/celestia"]
ethereum = ["op-succinct-proof-utils/ethereum"]
