[package]
name = "op-succinct-validity"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true

[[bin]]
name = "validity"
path = "bin/validity.rs"

[dependencies]

# workspace
tokio.workspace = true
alloy-primitives.workspace = true

# tracing and telemetry
tracing.workspace = true
tracing-subscriber.workspace = true
tracing-opentelemetry.workspace = true
opentelemetry.workspace = true
opentelemetry_sdk.workspace = true
opentelemetry-stdout.workspace = true
opentelemetry-otlp.workspace = true
opentelemetry-appender-tracing.workspace = true

# local
op-succinct-client-utils.workspace = true
op-succinct-elfs.workspace = true
op-succinct-host-utils.workspace = true
op-succinct-proof-utils.workspace = true
op-succinct-signer-utils.workspace = true

# sp1
sp1-sdk.workspace = true

# alloy
alloy-eips.workspace = true
alloy-provider = { workspace = true }
alloy-signer-local.workspace = true
alloy-sol-types.workspace = true

anyhow.workspace = true
dotenv.workspace = true
serde.workspace = true
serde_json.workspace = true
reqwest.workspace = true

# server
bincode.workspace = true
base64.workspace = true
serde_repr = "0.1.19"
sqlx = { version = "0.8.3", features = [
    "postgres",
    "chrono",
    "bigdecimal",
    "runtime-tokio",
    "tls-native-tls",
] }
chrono = "0.4.39"
futures-util = "0.3.31"
clap.workspace = true
tikv-jemallocator = "0.6.0"
rustls = "0.23.23"
strum = { workspace = true, features = ["derive"] }
strum_macros.workspace = true

[build-dependencies]
op-succinct-build-utils.workspace = true

[features]
default = ["ethereum"]
celestia = ["op-succinct-proof-utils/celestia"]
ethereum = ["op-succinct-proof-utils/ethereum"]
