name: Backport

on:
  pull_request_target:
    types: [closed]

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main' }}

jobs:
  backport:
    name: Backport PR
    runs-on:
      - runs-on
      - runner=1cpu-linux-x64
      - run-id=${{ github.run_id }}
      - spot=false
    if: >
      github.event.pull_request.merged == true &&
      contains(toJSON(github.event.pull_request.labels.*.name), 'backport/')
    steps:
      - name: Backport
        uses: tibdex/backport@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          label_pattern: "^backport/(?<base>([^ ]+))$"
          title_template: "[Backport <%= base %>] <%= title %>"
          body_template: |
            Backport of #<%= number %> to `<%= base %>`.

            Original PR: <%= mergeCommitSha %>

            ---
            <details>
            <summary>Original description</summary>

            <%= body %>
            </details>
