# Documentation and mdbook related jobs.
# Reference: https://github.com/paradigmxyz/reth/blob/main/.github/workflows/book.yml

name: book

on:
  push:
    tags:
      - v[0-9]+.*
    branches:
      - "release/*"
      - main
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/book.yml'
      - "book/**"
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main' }}

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Install mdbook-linkcheck
        run: cargo install mdbook-linkcheck

      - name: Run linkcheck
        run: mdbook-linkcheck --standalone

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.4.52'
      - name: Install plugins
        run: |
          cargo install mdbook-mermaid@0.16.0
          cargo install mdbook-admonish
      - name: Build book
        run: mdbook build
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/book

  deploy:
    # Only deploy if a push to main
    if: github.ref_name == 'main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: [lint, build]

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    timeout-minutes: 60

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
