name: Build Celo / OP Succinct Lite Docker Images

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build:
    name: Build OP Succinct Lite Docker Images
    runs-on:
      - self-hosted
      - org
      - 8-cpu

    permissions:
      contents: read
      id-token: write
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }} # Check out the PR head, rather than the merge commit.

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta for proposer
        id: meta-proposer
        uses: docker/metadata-action@v5
        with:
          images: us-west1-docker.pkg.dev/blockchaintestsglobaltestnet/dev-images/celo-succinct-proposer
          tags: |
            type=semver,pattern={{version}}
            type=edge
            type=sha

      - name: Docker meta for challenger
        id: meta-challenger
        uses: docker/metadata-action@v5
        with:
          images: us-west1-docker.pkg.dev/blockchaintestsglobaltestnet/dev-images/celo-succinct-proposer
          tags: |
            type=semver,pattern={{version}}
            type=edge
            type=sha

      - name: Login at GCP Artifact Registry
        uses: celo-org/reusable-workflows/.github/actions/auth-gcp-artifact-registry@v2.0
        with:
          workload-id-provider: "projects/1094498259535/locations/global/workloadIdentityPools/gh-op-succinct-dev/providers/github-by-repos"
          service-account: "op-succinct-dev@blockchaintestsglobaltestnet.iam.gserviceaccount.com"
          docker-gcp-registries: us-west1-docker.pkg.dev

      - name: Build and push proposer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: fault_proof/Dockerfile.proposer
          push: true
          tags: ${{ steps.meta-proposer.outputs.tags }}
          labels: ${{ steps.meta-proposer.outputs.labels }}
          platforms: |
            linux/amd64
            linux/arm64
          cache-from: type=registry
          cache-to: type=registry,mode=max

      - name: Build and push challenger
        uses: docker/build-push-action@v6
        with:
          context: .
          file: fault_proof/Dockerfile.challenger
          push: true
          tags: ${{ steps.meta-challenger.outputs.tags }}
          labels: ${{ steps.meta-challenger.outputs.labels }}
          platforms: |
            linux/amd64
            linux/arm64
          cache-from: type=registry
          cache-to: type=registry,mode=max
