name: Build OP Succinct Docker Images

on:
  workflow_dispatch:
#  push:

jobs:
  build:
    name: Build Docker Images
    runs-on:
      - runs-on
      - runner=64cpu-linux-x64
      - run-id=${{ github.run_id }}
      - disk=large
      - spot=false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta for op-succinct
        id: meta-succinct
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/op-succinct
          tags: |
            type=ref,event=tag
            type=sha

      - name: Docker meta for op-succinct-celestia
        id: meta-succinct-celestia
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/op-succinct-celestia
          tags: |
            type=ref,event=tag
            type=sha

      - name: Docker meta for op-succinct-eigenda
        id: meta-succinct-eigenda
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/op-succinct-eigenda
          tags: |
            type=ref,event=tag
            type=sha

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push op-succinct
        uses: docker/build-push-action@v6
        with:
          context: .
          file: validity/Dockerfile
          push: true
          tags: ${{ steps.meta-succinct.outputs.tags }}
          labels: ${{ steps.meta-succinct.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push op-succinct-celestia
        uses: docker/build-push-action@v6
        with:
          context: .
          file: validity/Dockerfile.celestia
          push: true
          tags: ${{ steps.meta-succinct-celestia.outputs.tags }}
          labels: ${{ steps.meta-succinct-celestia.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push op-succinct-eigenda
        uses: docker/build-push-action@v6
        with:
          context: .
          file: validity/Dockerfile.eigenda
          push: true
          tags: ${{ steps.meta-succinct-eigenda.outputs.tags }}
          labels: ${{ steps.meta-succinct-eigenda.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
