name: Docker Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Docker Images
    runs-on:
      - runs-on
      - cpu=16
      - ram=64
      - family=m7a+m7i-flex
      - image=ubuntu22-full-x64
      - run-id=${{ github.run_id }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,amd64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Docker meta for op-proposer
        id: meta-op-proposer
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/op-proposer
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Docker meta for succinct-proposer
        id: meta-succinct
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/succinct-proposer
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Login to GitHub Container Registry
        # if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push op-proposer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: proposer/op/Dockerfile.op_proposer
          platforms: linux/amd64,linux/arm64
          # push: ${{ github.event_name != 'pull_request' }}
          push: true
          tags: ${{ steps.meta-op-proposer.outputs.tags }}
          labels: ${{ steps.meta-op-proposer.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push succinct-proposer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: proposer/succinct/Dockerfile
          platforms: linux/amd64,linux/arm64
          # push: ${{ github.event_name != 'pull_request' }}
          push: true
          tags: ${{ steps.meta-succinct.outputs.tags }}
          labels: ${{ steps.meta-succinct.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max