name: Push container images for development

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop
  workflow_dispatch:

env:
  REGISTRY_URL: us-west1-docker.pkg.dev/devopsre/dev-images/${{ github.event.repository.name }}

jobs:
  build:
    name: Build and push op-succinct container dev-image
    runs-on:
      - self-hosted
      - org
      - 8-cpu

    permissions:
      contents: read
      id-token: write
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}

      - name: Login at GCP Artifact Registry
        uses: celo-org/reusable-workflows/.github/actions/auth-gcp-artifact-registry@v2.0
        with:
          workload-id-provider: "projects/1094498259535/locations/global/workloadIdentityPools/gh-op-succinct-dev/providers/github-by-repos"
          service-account: "op-succinct-gh-dev@devopsre.iam.gserviceaccount.com"
          docker-gcp-registries: us-west1-docker.pkg.dev

      - name: Build, push and scan the proposer container
        # TODO: pin to release 3.0.0 once approved and tagged
        uses: celo-org/reusable-workflows/.github/actions/build-container@ezdac/use-docker-metadata-action
        with:
          platforms: linux/amd64
          registry: us-west1-docker.pkg.dev/devopsre/dev-images
          app-name: ${{ github.event.repository.name }}/proposer
          context: .
          dockerfile: fault-proof/Dockerfile.proposer
          push: "true"

      - name: Build, push and scan the challenger container
        # TODO: pin to release 3.0.0 once approved and tagged
        uses: celo-org/reusable-workflows/.github/actions/build-container@ezdac/use-docker-metadata-action
        with:
          platforms: linux/amd64
          registry: us-west1-docker.pkg.dev/devopsre/dev-images
          app-name: ${{ github.event.repository.name }}/challenger
          context: .
          dockerfile: fault-proof/Dockerfile.challenger
          push: "true"
