name: Docker Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Docker Images
    runs-on:
      - runs-on
      - runner=64cpu-linux-x64
      - run-id=${{ github.run_id }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta for op-proposer
        id: meta-op-proposer
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/op-proposer
          tags: |
            type=ref,event=tag
            type=sha

      - name: Docker meta for succinct-proposer
        id: meta-succinct
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/succinct-proposer
          tags: |
            type=ref,event=tag
            type=sha

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push succinct-proposer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: proposer/succinct/Dockerfile
          push: true
          tags: ${{ steps.meta-succinct.outputs.tags }}
          labels: ${{ steps.meta-succinct.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push op-proposer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: proposer/op/Dockerfile.op_proposer
          push: true
          tags: ${{ steps.meta-op-proposer.outputs.tags }}
          labels: ${{ steps.meta-op-proposer.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
