name: Integration Tests

on:
  # push:
  #   branches: [ develop ]
  # pull_request:
  #   branches: [ develop ]
  workflow_dispatch:

jobs:
  integration-tests:
    environment: e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup CI
        uses: ./.github/actions/setup

      - name: Run cost estimator on recent block range
        run: |
          RUST_LOG=info cargo run --bin cost-estimator --release --features eigenda -- --rolling
        env:
          L2_NODE_RPC: ${{ secrets.L2_NODE_RPC }}
          L1_RPC: ${{ secrets.L1_RPC }}
          L1_BEACON_RPC: ${{ secrets.L1_BEACON_RPC }}
          L2_RPC: ${{ secrets.L2_RPC }}
