name: PR Lint

on:
  pull_request_target:
    types:
      - opened
      - edited

permissions:
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main' }}

jobs:
  main:
    name: Title
    runs-on:
      - runs-on
      - runner=1cpu-linux-x64
      - run-id=${{ github.run_id }} 
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
