name: Push container images for development

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  push_container_proposer_dev:
    name: Build and push proposer development image
    uses: ./.github/workflows/push-container.yaml
    with:
      file: fault-proof/Dockerfile.proposer.celo
      artifact-registry: us-west1-docker.pkg.dev/devopsre/dev-images/${{ github.event.repository.name }}-proposer
      service-account: op-succinct-gh-dev@devopsre.iam.gserviceaccount.com
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-op-succinct-dev/providers/github-by-repos
  push_container_challenger_dev:
    name: Build and push challenger development image
    uses: ./.github/workflows/push-container.yaml
    with:
      file: fault-proof/Dockerfile.challenger.celo
      artifact-registry: us-west1-docker.pkg.dev/devopsre/dev-images/${{ github.event.repository.name }}-challenger
      service-account: op-succinct-gh-dev@devopsre.iam.gserviceaccount.com
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-op-succinct-dev/providers/github-by-repos
