name: Push container images for development

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  push-container:
    uses: ./.github/workflows/push-container.yaml
    with:
      registry-dir: devopsre/dev-images
      service-account: op-succinct-gh-dev@devopsre.iam.gserviceaccount.com
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-op-succinct-dev/providers/github-by-repos
